# MACHINE LEARNING PROJECT: MOBILE PHONE PRICE PREDICTION

# Data Splitting

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("train.csv")

In [3]:
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [4]:
data.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

Here is the attributes of our dataset:

       battery_power: Total energy a battery can store in one time measured in mAh
       blue: Has bluetooth or not
       clock_speed: speed at which microprocessor executes instructions
       dual_sim: Has dual sim support or not
       fc: Front Camera mega pixels
       four_g: Has 4G or not
       int_memory: Internal Memory in Gigabytes
       m_dep: Mobile Depth in cm
       mobile_wt: Weight of mobile phone
       n_cores: Number of cores of processor
       pc: Primary Camera mega pixels
       px_height: Pixel Resolution Height
       px_width: Pixel Resolution Width
       ram: Random Access Memory in Megabytes
       sc_h: Screen Height of mobile in cm
       sc_w: Screen Width of mobile in cm
       talk_time: longest time that a single battery charge will last when you are
       three_g: Has 3G or not
       touch_screen: Has touch screen or not
       wifi: Has wifi or not
       price_range: This is the target variable with value of 0 (low cost), 1 (medium cost), 2 (high cost) and 3 (very high cost)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [6]:
data.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

We can find that these attributes are dummy variables:blue,dual_sim,four_g,three_g,touch_screen,wifi.
And we try to scaling values of attributes to the same level [0,1] for data normalization.

In [7]:
data_norm = (data - data.min()) / (data.max() - data.min())

In [8]:
data_norm.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,0.492664,0.4950,0.408900,0.509500,0.226816,0.521500,0.484621,0.446389,0.502075,0.502929,...,0.329137,0.501679,0.499255,0.521893,0.320389,0.500611,0.761500,0.503000,0.507000,0.500000
std,0.293533,0.5001,0.326402,0.500035,0.228497,0.499662,0.292673,0.320462,0.294997,0.326834,...,0.226419,0.288518,0.289880,0.300946,0.242022,0.303553,0.426273,0.500116,0.500076,0.372771
min,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.234302,0.0000,0.080000,0.000000,0.052632,0.000000,0.225806,0.111111,0.241667,0.285714,...,0.144260,0.250167,0.254276,0.285714,0.111111,0.222222,1.000000,0.000000,0.000000,0.250000
50%,0.484302,0.0000,0.400000,1.000000,0.157895,1.000000,0.483871,0.444444,0.508333,0.428571,...,0.287755,0.498665,0.505211,0.500000,0.277778,0.500000,1.000000,1.000000,1.000000,0.500000
75%,0.744322,1.0000,0.680000,1.000000,0.368421,1.000000,0.741935,0.777778,0.750000,0.857143,...,0.483291,0.756342,0.750534,0.785714,0.500000,0.777778,1.000000,1.000000,1.000000,0.750000
max,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
data_norm['price_range']=data_norm['price_range'].apply(lambda x:0 if x<0.5 else 1)

We use 0 to represent low and use 1 to represent high.

In [10]:
data_norm.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,0.227789,0.0,0.68,0.0,0.052632,0.0,0.080645,0.555556,0.900000,0.142857,...,0.010204,0.170895,0.612774,0.285714,0.388889,0.944444,0.0,0.0,1.0,0
1,0.347361,1.0,0.00,1.0,0.000000,1.0,0.822581,0.666667,0.466667,0.285714,...,0.461735,0.993324,0.634687,0.857143,0.166667,0.277778,1.0,1.0,0.0,1
2,0.041416,1.0,0.00,1.0,0.105263,1.0,0.629032,0.888889,0.541667,0.571429,...,0.644388,0.811749,0.627205,0.428571,0.111111,0.388889,1.0,1.0,0.0,1
3,0.076152,1.0,0.80,0.0,0.000000,0.0,0.129032,0.777778,0.425000,0.714286,...,0.620408,0.858478,0.671566,0.785714,0.444444,0.500000,1.0,0.0,0.0,1
4,0.881764,1.0,0.28,0.0,0.684211,1.0,0.677419,0.555556,0.508333,0.142857,...,0.616327,0.475300,0.308658,0.214286,0.111111,0.722222,1.0,1.0,0.0,0

In [11]:
data=data_norm.sample(frac=1.0)
rows, cols = data.shape
split_index_1 = int(rows * 0.1)
split_index_2 = int(rows * 0.2)

In [12]:
data_test:pd.DataFrame = data.iloc[0: split_index_1, :]
data_validate:pd.DataFrame = data.iloc[split_index_1:split_index_2, :]
data_train:pd.DataFrame = data.iloc[split_index_2: rows, :]

In [13]:
data_test.to_csv("test.csv", index=False)
data_validate.to_csv("valid.csv",index=False)
data_train.to_csv("train1.csv", index=False)

# The Implemention of Machine Learning Model

## Naive Bayes

### Data preprocessing

In [14]:
train_data=pd.read_csv("train1.csv")
valid_data=pd.read_csv("valid.csv")
test_data=pd.read_csv("test.csv")

In [15]:
train_data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,0.450902,1.0,0.64,0.0,0.105263,1.0,0.967742,0.444444,0.733333,0.142857,...,0.343878,0.637517,0.341529,0.071429,0.111111,0.833333,1.0,0.0,0.0,0
1,0.822311,0.0,0.12,0.0,0.105263,0.0,0.951613,0.222222,0.766667,0.571429,...,0.102551,0.104139,0.984500,0.857143,0.611111,1.000000,0.0,1.0,1.0,1
2,0.553774,1.0,0.32,1.0,0.736842,0.0,0.016129,0.222222,0.025000,0.571429,...,0.500000,0.508678,0.055318,0.642857,0.333333,0.500000,0.0,0.0,1.0,0
3,0.054108,0.0,0.00,1.0,0.157895,0.0,0.403226,0.111111,0.733333,0.285714,...,0.502551,0.614152,0.582843,1.000000,0.111111,0.000000,1.0,1.0,1.0,1
4,0.494990,0.0,0.24,1.0,0.000000,0.0,0.129032,0.555556,0.708333,0.142857,...,0.234184,0.483979,0.212186,0.428571,0.055556,0.111111,1.0,0.0,1.0,0

For the implemention of naive bayes,we need to discretize continuous attributes into intervals and split large number into ranges.
We don't need to consider about the dummy variables but only focus on the continuous and large variables.

Now we decide to discretize continuous attributes into intervals [0,0.5] and [0.5,1]

In [16]:
train_data=train_data.applymap(lambda x:0 if x<0.5 else 1)
valid_data=valid_data.applymap(lambda x:0 if x<0.5 else 1)
test_data=test_data.applymap(lambda x:0 if x<0.5 else 1)

### Model Training

In [17]:
yTrain = train_data.iloc[:,-1]
yTrainCounts = yTrain.value_counts()
yTrainCounts = yTrainCounts.apply(lambda x : (x + 1) / (yTrain.size + yTrainCounts.size)) #使用了拉普拉斯平滑

In [18]:
yTrainCounts

0    0.501248
1    0.498752
Name: price_range, dtype: float64

In [19]:
retModel = {}
for nameClass, val in yTrainCounts.items():
    retModel[nameClass] = {'PClass': val, 'PFeature':{}}

propNamesAll = train_data.columns[:-1]
allPropByFeature = {}
for nameFeature in propNamesAll:
    allPropByFeature[nameFeature] = list(train_data[nameFeature].value_counts().index)
#print(allPropByFeature)
for nameClass, group in train_data.groupby(train_data.columns[-1]):
    for nameFeature in propNamesAll:
        eachClassPFeature = {}
        propDatas = group[nameFeature]
        propClassSummary = propDatas.value_counts()# 频次汇总 得到各个特征对应的概率
        for propName in allPropByFeature[nameFeature]:
            if not propClassSummary.get(propName):
                propClassSummary[propName] = 0#如果有属性灭有，那么自动补0
        Ni = len(allPropByFeature[nameFeature])
        propClassSummary = propClassSummary.apply(lambda x : (x + 1) / (propDatas.size + Ni))#使用了拉普拉斯平滑
        for nameFeatureProp, valP in propClassSummary.items():
            eachClassPFeature[nameFeatureProp] = valP
        retModel[nameClass]['PFeature'][nameFeature] = eachClassPFeature

In [20]:
def predictBySeries(data,model):
        curMaxRate = None
        curClassSelect = None
        for nameClass, infoModel in model.items():
            rate = 0
            rate += np.log(infoModel['PClass'])
            PFeature = infoModel['PFeature']
            
            for nameFeature, val in data.items():
                propsRate = PFeature.get(nameFeature)
                if not propsRate:
                    continue
                rate += np.log(propsRate.get(val, 0))#使用log加法避免很小的小数连续乘，接近零
                #print(nameFeature, val, propsRate.get(val, 0))
            #print(nameClass, rate)
            if curMaxRate == None or rate > curMaxRate:
                curMaxRate = rate
                curClassSelect = nameClass
            
        return curClassSelect

In [21]:
def predict(data,model):
        if isinstance(data, pd.Series):
            return predictBySeries(data,model)
        return data.apply(lambda d: predictBySeries(d,model), axis=1)

In [22]:
train = pd.DataFrame({'预测值':predict(train_data,retModel), '正取值':train_data.iloc[:,-1]})
print(train)
print('Naive Bayes Accuracy on Train Set:{:.8f}'.format(train[train['预测值'] == train['正取值']].shape[0] * 100.0 / train.shape[0]))

      预测值  正取值
0       0    0
1       1    1
2       0    0
3       1    1
4       0    0
...   ...  ...
1595    1    1
1596    0    0
1597    1    1
1598    0    0
1599    0    0

[1600 rows x 2 columns]
Naive Bayes Accuracy on Train Set:91.31250000

In [23]:
valid = pd.DataFrame({'预测值':predict(valid_data,retModel), '正取值':valid_data.iloc[:,-1]})
print(valid)
print('Naive Bayes Accuracy on Validate Set:{:.8f}'.format(valid[valid['预测值'] == valid['正取值']].shape[0] * 100.0 / valid.shape[0]))

     预测值  正取值
0      1    1
1      1    1
2      0    0
3      1    1
4      1    0
..   ...  ...
195    1    1
196    0    0
197    0    0
198    0    0
199    0    0

[200 rows x 2 columns]
Naive Bayes Accuracy on Validate Set:89.50000000

In [24]:
test = pd.DataFrame({'预测值':predict(test_data,retModel), '正取值':test_data.iloc[:,-1]})
print(test)
print('Naive Bayes Test Score:{:.8f}'.format(test[test['预测值'] == test['正取值']].shape[0] * 100.0 / test.shape[0]))

     预测值  正取值
0      0    0
1      0    0
2      1    1
3      0    0
4      0    0
..   ...  ...
195    1    1
196    1    1
197    0    0
198    0    0
199    0    0

[200 rows x 2 columns]
Naive Bayes Test Score:92.50000000

## Logistic Regression

## SVM

### Data Preprocessing

In [25]:
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.naive_bayes import MultinomialNB
from sklearn import tree

In [26]:
train_data=pd.read_csv("train1.csv")
valid_data=pd.read_csv("valid.csv")
test_data=pd.read_csv("test.csv")

### Model Training

In [27]:
y_train=train_data["price_range"]
X_train=train_data.drop("price_range",axis=1)
y_test=test_data["price_range"]
X_test=test_data.drop("price_range",axis=1)

svm = svm.SVC(kernel='linear', probability=True)
svm.fit(X_train, y_train)

SVC(kernel='linear', probability=True)

In [28]:
print('SVM Accuracy on Train Set:{:.8f}'.format(svm.score(X_train,y_train)))

SVM Accuracy on Train Set:0.98875000

In [29]:
print('SVM Test Score:{:.8f}'.format(svm.score(X_test,y_test)))

SVM Test Score:0.99000000